{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}

{% block body %}
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>Online Food Order System</h1>
      <p>PARMAR DARSHAN KIRITBHAI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>CE084</b>&emsp;<a href="https://github.com/darshankparmar">@darshankparmar</a> </p>
      <p>PATEL HARSHKUMAR NAYANBHAI&nbsp;&emsp;<b>CE098</b>&emsp;<a href="https://github.com/7Har">@7Har</a> </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      <center><img src="http://127.0.0.1:8000/media/shop/images/About.png" width="1200" height="500"></center>
      <footer class="container">
        <p>&copy; Company 2020-2021</p>
      </footer>
    </div>
  </div>
</main>

{% endblock %}

{% block js %}
<script>

$('#popcart').popover();
updatePopover(cart);

function updatePopover(cart) {
    var popStr = "";
    popStr = popStr + "<h5> Click <a href='/shop/checkout'><button '>Here</button></a> to order </h5><div class='mx-2 my-2'>";
    document.getElementById("popcart").setAttribute('data-content', popStr);
    $('#popcart').popover();
}

</script>
{% endblock %}
